@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Facility.Maintenance.DetailMaintence.Modal
@using FamTec.Shared.Client.DTO.Normal.Facility.Maintenance
@using FamTec.Shared.Client.DTO.Normal.Material.InOut


<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    자재코드
                </span>
            </th>
            <th class="th">
                <span>
                    자재명
                </span>
            </th>
            <th class="th">
                <span>
                    위치
                </span>
            </th>
            <th class="th">
                <span>
                    수량
                </span>
            </th>
            <th class="th">
                <span>
                    단위
                </span>
            </th>
            <th class="th">
                <span>
                    금액
                </span>
            </th>
            @if (EditMode)
            {
                <th class="th">
                    <span>

                    </span>
                </th>
            }
            
        </tr>
    </thead>
    <tbody class="tbody">
        @if(ListData?.Count == 0)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        @if (ListData == null)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Loading />
                </td>
            </tr>
        }
        else
        {
            @foreach(UseMaterialDTO row in ListData)
            {
               
                <tr class="tr">
                    <td class="td" @onclick="() => OnRowClick(row)">
                        @row.MaterialCode
                    </td>
                    <td class="td" @onclick="() => OnRowClick(row)">
                        @row.MaterialName
                    </td>
                    <td class="td" @onclick="() => OnRowClick(row)">
                        @row.RoomName
                    </td>
                    <td class="td" @onclick="() => OnRowClick(row)">
                        @row.Num
                    </td>
                    <td class="td" @onclick="() => OnRowClick(row)">
                        @row.Unit
                    </td>
                    <td class="td" @onclick="() => OnRowClick(row)">
                        @row.TotalPrice
                    </td>
                    @if (EditMode)
                    {
                        <td class="td">
                            <input type="checkbox" @onchange="(e)=>OnChecked(e,row)" />
                        </td>
                    }
                    
                </tr>
                
        }
        }
    </tbody>
</table>

@if (showUpdateModal)
{
    <ModalBackground>
        <ChildComponent>
            <UpdateUseMaterialModal 
                UseMaterialId="@selectUseMaterialId" 
                OnCancel="CloseModal" 
                CurMaterialNum="@selectUseMaterialCurNum"
                OnLoadMaintenance="OnLoadMaintenance"
                />
        </ChildComponent>
    </ModalBackground>
}

@code {
    // [Parameter] public List<InOutInventoryDTO>? ListData { get; set; }
    [Parameter] public List<UseMaterialDTO>? ListData { get; set; }
    [Parameter] public EventCallback<(bool, UseMaterialDTO)> OnCheck{get;set;}
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public EventCallback OnLoadMaintenance { get; set; }

    private bool showUpdateModal = false;
    private UseMaterialDTO? selectedMaterial;
    private int selectUseMaterialId;
    private int selectUseMaterialCurNum;

    private async void OnChecked(ChangeEventArgs e, UseMaterialDTO material)
    {
        await OnCheck.InvokeAsync(((bool)e.Value, material));
    }

    private void OnRowClick(UseMaterialDTO material)
    {
        if (EditMode)
        {
            selectedMaterial = material;
            showUpdateModal = true;
            selectUseMaterialId = material.ID;
            selectUseMaterialCurNum = material.Num;
        }
    }

    private void CloseModal()
    {
        showUpdateModal = false;
        selectedMaterial = null;
    }

}
