@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO

<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    아이디
                </span>
            </th>
            <th class="th">
                <span>
                   이름
                </span>
            </th>
            <th class="th">
                <span>
                    그룹
                </span>
            </th>
            <th class="th">
                <span>
                    계정유형
                </span>
            </th>
            @if (EditMode)
            {
                <th class="th">
                    <span>
                    </span>
                </th>
            }
            

        </tr>
    </thead>
    <tbody class="tbody">
        @if (ListData.Count==0)
        {
            <tr >
                <td colspan="100" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
            @foreach (var row in ListData)
            {
                <tr class="tbody-tr" @onclick=@(()=>OnCheck(row))>
                    <td class="td @(EditMode ? "pointer" : "")">
                        <span>
                            @row.UserId
                        </span>
                    </td>
                    <td class="td @(EditMode ? "pointer" : "")">
                        <span>
                            @row.Name
                        </span>
                    </td>
                    <td class="td @(EditMode ? "pointer" : "")">
                        <span>
                            @row.Department
                        </span>
                    </td>
                    <td class="td @(EditMode ? "pointer" : "")">
                        <span>
                            @row.Type
                        </span>
                    </td>
                    @if (EditMode)
                    {
                        <td class="td">
                            <input 
                                class="pointer"
                                type="checkbox" 
                                checked=@(CheckedItem.Any(c => c.Id == row.Id))
                                />
                        </td>
                    }
                    
                </tr>
            }
        }

    </tbody>
</table>
@code {
    [Parameter] public List<ManagerDTO> ListData { get; set; }
    [Parameter] public EventCallback<ManagerDTO> OnChecked { get; set; }
    [Parameter] public List<ManagerDTO> CheckedItem { get; set; }
    [Parameter] public bool EditMode { get; set; }



    //체크 함수
    private async void OnCheck(ManagerDTO manager)
    {
        await OnChecked.InvokeAsync(manager);
    }


}
