@inherits PermissionComponentBase
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Users
@* @typeparam T *@

<table class="table">
    <thead class="thead">
        <tr class="tr">
            <th class="th text-center">
                <span>
                    이름
                </span>
            </th>
            <th class="th text-center">
                <span>
                    아이디
                </span>
            </th>
            <th class="th text-center">
                <span>
                    직책
                </span>
            </th>
            <th class="th text-center">
                <span>
                    이메일
                </span>
            </th>
            <th class="th text-center">
                <span>
                    생성 일자
                </span>
            </th>
            <th class="th text-center">
                <span>
                    상태
                </span>
            </th>
            @if (USER)
            {
                <th class="th table-select"></th>
            }
            

        </tr>
    </thead>
    <tbody class="tbody">
       
            @if(Data == null)
            {
            <tr>
                <td colspan="100" style="text-align:center; height:100%;">
                    <Loading />
                </td>

            </tr>
            }
            else if (Data.Count == 0)
            {
            <tr>
                <td colspan="100" style="text-align:center; height:100%;">
                    <Empty />
                </td>

            </tr>
            }
            else
            {
            @foreach (ListUser row in Data)
                {

                <tr class="tbody-tr">
                    <td class="td text-center pointer" @onclick="()=>OnDetail(row.Id)">
                        <span class="subtitle">
                            @row.Name
                        </span>
                    </td>
                    <td class="td text-center pointer" @onclick="()=>OnDetail(row.Id)">
                        <span class="subtitle">
                            @row.UserId
                        </span>
                    </td>
                    <td class="td text-center pointer" @onclick="()=>OnDetail(row.Id)">
                        <span class="subtitle">
                            @row.Type
                        </span>
                    </td>
                    <td class="td text-center pointer" @onclick="()=>OnDetail(row.Id)">
                        <span class="subtitle">
                            @row.Email
                        </span>
                    </td>
                    <td class="td text-center pointer" @onclick="()=>OnDetail(row.Id)">
                        <span class="subtitle">
                            @{
                                DateTime createdDate;
                                string formattedDate = DateTime.TryParse(row.Created?.ToString(), out createdDate)
                                ? createdDate.ToString("yyyy-MM-dd")
                                : row.Created?.ToString(); // 변환이 실패하면 원본 문자열을 그대로 출력
                            }
                            @formattedDate
                        </span>
                    </td>
                    <td class="td text-center pointer" @onclick="()=>OnDetail(row.Id)">
                        <span class="subtitle">
                            <StatusCard Status=@row.Status.ToString()/>
                           
                        </span>
                    </td>
                    @if (USER)
                    {
                        <td class="td text-center">
                            <input class="pointer" type="checkbox" checked="@CheckItems.Contains(row.Id)" @onchange="e=> OnSelect(e, row.Id)" />
                        </td>
                    }
                    

                 </tr>
                }
        }
        
    </tbody>
</table>

@code {
    [Parameter] public bool EditMode { get; set; }
    // [Parameter] public List<T>? Data { get; set; }
    [Parameter] public List<ListUser>? Data { get; set; }
    [Parameter] public HashSet<int> Checkitem { get; set; }
    [Parameter] public EventCallback<(bool, int)> Select { get; set; }
    private HashSet<int> CheckItems = new HashSet<int>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void OnDetail(int id)
    {
        Navigation.NavigateTo($"/users/{id}");
    }

    private async Task OnSelect(ChangeEventArgs e, int id)
    {
        bool isChecked = (bool)(e.Value ?? false);
        if (isChecked)
        {
            CheckItems.Add(id);
        }
        await Select.InvokeAsync((isChecked, id));
    }
}
