@using FamTec.Shared.Client.DTO.Normal.Buildings
<div class="buildinginfo">
    <div class="buildinginfo-title">
        <span class="title">
            건물 정보
        </span>
    </div>
    <div class="buildinginfo-contents">
        <div class="building-img">
            
        </div>
        <div class="infosection-1">
            <InputFieldSmall InputType="text" Label="건물이름" EditMode=EditMode @bind-Value="@Building.Name"/>
            <InputFieldSmall InputType="text" Label="건물주소" EditMode=EditMode @bind-Value="@Building.Address" />
            <InputFieldSmall InputType="text" Label="대표전화" EditMode=EditMode @bind-Value="@Building.Tel" />
            <InputFieldSmall InputType="text" Label="건물구조" EditMode=EditMode @bind-Value="@Building.BuildingStructure" />
            <InputFieldSmall InputType="text" Label="건물용도" EditMode=EditMode @bind-Value="@Building.Usage" />
            <InputFieldSmall InputType="text" Label="시공업체" EditMode=EditMode @bind-Value="@Building.ConstCompany" />
            <InputFieldSmall InputType="text" Label="준공년월" EditMode=EditMode @bind-Value="@Building.CompleteDT" />
            <InputFieldSmall InputType="text" Label="지붕구조" EditMode=EditMode @bind-Value="@Building.RoofStructure" />
            <InputFieldSmall InputType="text" Label="소방등급" EditMode=EditMode @bind-Value="@Building.FireRating" />
            <InputFieldSmall InputType="text" Label="정화조용량" EditMode=EditMode @bind-Value="@Building.SepticTankCapacity" />
        </div>
    </div>
    <div class="infosection-2">
        <GroupField Title="면적" Sub1="연면적" Sub2="대지면적" Sub3="건축면적"/>
        <GroupField Title="층" Sub1="전체" Sub2="지상" Sub3="지하"/>
        <GroupField Title="높이" Sub1="전체" Sub2="지상" Sub3="지하"/>
        <GroupField Title="주차장" Sub1="대수" Sub2="옥내" Sub3="옥외"/>
        <GroupField Title="용량" Sub1="전기" Sub2="수전" Sub3="발전"/>
        <GroupField Title="물" Sub1="급수용량" Sub2="고가수조" Sub3="저수조"/>
        <GroupField Title="가스" Sub1="용량" Sub2="보일러" Sub3="냉온수기"/>
        <GroupField Title="승강기" Sub1="대수" Sub2="인승용" Sub3="화물용"/>
        <GroupField Title="냉·난방" Sub1="용량" Sub2="난방용량" Sub3="냉방용량"/>
    </div>
</div>

@code {
    [Parameter] public BuildingDTO Building { get; set; }

    bool EditMode= true;

}
