@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.Class
@using FamTec.Shared.Client.DTO.Normal.Buildings
@using System.Reflection
@using Microsoft.AspNetCore.Http
<div class="buildinginfo">
    <div class="buildinginfo-title">
        <span class="title">
            건물 정보
        </span>
    </div>
    <div class="buildinginfo-contents">
        <div class="building-img">
            <PreviewBox ImageUrls="@ImageUrl" />
            <InputImages MaxFilesNum="1" OnChange="OnUploadImage" />
        </div>
        <div class="infosection-1">
            @* <InputFieldSmall InputType="text" Label="건물코드" EditMode=EditMode @bind-Value="@Building.Code"/>
            <InputFieldSmall InputType="text" Label="건물이름" EditMode=EditMode @bind-Value="@Building.Name"/>
            <InputFieldSmall InputType="text" Label="건물주소" EditMode=EditMode @bind-Value="@Building.Address" />
            <InputFieldSmall InputType="text" Label="대표전화" EditMode=EditMode @bind-Value="@Building.Tel" />
            <InputFieldSmall InputType="text" Label="건물구조" EditMode=EditMode @bind-Value="@Building.BuildingStructure" />
            <InputFieldSmall InputType="text" Label="건물용도" EditMode=EditMode @bind-Value="@Building.Usage" />
            <InputFieldSmall InputType="text" Label="시공업체" EditMode=EditMode @bind-Value="@Building.ConstCompany" />
            <InputFieldSmall InputType="text" Label="준공년월" EditMode=EditMode @bind-Value="@Building.CompleteDT" />
            <InputFieldSmall InputType="text" Label="지붕구조" EditMode=EditMode @bind-Value="@Building.RoofStructure" />
            <InputFieldSmall InputType="text" Label="소방등급" EditMode=EditMode @bind-Value="@Building.FireRating" />
            <InputFieldSmall InputType="text" Label="정화조용량" EditMode=EditMode @bind-Value="@Building.SepticTankCapacity" /> *@
            <InputCol Label="건물코드" Placeholder="건물코드" ValueType="text" @bind-Value=@Building.Code/>
            <InputCol Label="건물이름" Placeholder="건물이름" ValueType="text" @bind-Value=@Building.Name/>
            <InputCol Label="건물주소" Placeholder="건물주소" ValueType="text" @bind-Value=@Building.Address/>
            <InputCol Label="대표전화" Placeholder="대표전화" ValueType="text" @bind-Value=@Building.Tel />
            <InputCol Label="준공년월" Placeholder="준공년월" ValueType="text" @bind-Value=@Building.CompleteDT />
            <InputCol Label="건물구조" Placeholder="건물구조" ValueType="text" @bind-Value=@Building.BuildingStructure />
            <InputCol Label="건물용도" Placeholder="건물용도" ValueType="text" @bind-Value=@Building.Usage />
            <InputCol Label="시공업체" Placeholder="시공업체" ValueType="text" @bind-Value=@Building.ConstCompany />
            <InputCol Label="지붕구조" Placeholder="지붕구조" ValueType="text" @bind-Value=@Building.RoofStructure />
            <InputCol Label="소방등급" Placeholder="소방등급" ValueType="text" @bind-Value=@Building.FireRating />
            <InputCol Label="정화조용량" Placeholder="정화조용량" ValueType="text" @bind-Value=@Building.SepticTankCapacity />
        </div>
    </div>
    <div class="infosection-2">
        <GroupField 
            Title="면적" 
            Sub1="연면적" 
            Sub2="대지면적" 
            Sub3="건축면적"
            @bind-Data1="@Building.GrossFloorArea"
            @bind-Data2="@Building.LandArea"
            @bind-Data3="@Building.BuildingArea"
            />
        <GroupField Title="층" Sub1="전체" Sub2="지상" Sub3="지하"
                    @bind-Data1="@Building.FloorNum"
                    @bind-Data2="@Building.GroundFloorNum"
                    @bind-Data3="@Building.BasementFloorNum" />
        <GroupField Title="높이" Sub1="전체" Sub2="지상" Sub3="지하"
                    @bind-Data1="@Building.BuildingHeight"
                    @bind-Data2="@Building.GroundHeight"
                    @bind-Data3="@Building.BasementHeight" />

        <GroupField Title="주차장" Sub1="대수" Sub2="옥내" Sub3="옥외"
                    @bind-Data1="@Building.ParkingNum"
                    @bind-Data2="@Building.InnerParkingNum"
                    @bind-Data3="@Building.OutterParkingNum" />
        <GroupField Title="용량" Sub1="전기" Sub2="수전" Sub3="발전"
                    @bind-Data1="@Building.ElecCapacity"
                    @bind-Data2="@Building.FaucetCapacity"
                    @bind-Data3="@Building.GenerationCapacity" />
                    
        <GroupField Title="물" Sub1="급수용량" Sub2="고가수조" Sub3="저수조"
                    @bind-Data1="@Building.WaterCapacity"
                    @bind-Data2="@Building.ElevWaterCapacity"
                    @bind-Data3="@Building.WaterTank" />
        <GroupField Title="가스" Sub1="용량" Sub2="보일러" Sub3="냉온수기"
                    @bind-Data1="@Building.GasCapacity"
                    @bind-Data2="@Building.Boiler"
                    @bind-Data3="@Building.Water_Dispenser" />
        <GroupField Title="승강기" Sub1="대수" Sub2="인승용" Sub3="화물용"
                    @bind-Data1="@Building.LiftNum"
                    @bind-Data2="@Building.PeopleLiftNum"
                    @bind-Data3="@Building.CargoLiftNum" />
        <GroupField Title="냉·난방" Sub1="용량" Sub2="난방용량" Sub3="냉방용량"
                    @bind-Data1="@Building.CoolHeatCapacity"
                    @bind-Data2="@Building.HeatCapacity"
                    @bind-Data3="@Building.CoolCapacity" />
        <GroupField Title="조경" Sub1="조경면적" Sub2="지상" Sub3="옥상"
                    @bind-Data1="@Building.LandScapeArea"
                    @bind-Data2="@Building.GroundArea"
                    @bind-Data3="@Building.RoofTopArea" />
        <GroupField Title="화장실" Sub1="전체" Sub2="남자" Sub3="여자"
                    @bind-Data1="@Building.ToiletNum"
                    @bind-Data2="@Building.MenToiletNum"
                    @bind-Data3="@Building.WomenToiletNum" />
    </div>
</div>

@code {
    [CascadingParameter] public AddBuildingDTO Building { get; set; }
    private List<string> ImageUrl = new List<string>();

    bool EditMode= true;
    protected override void OnInitialized()
    {
        Console.WriteLine(Building.LandArea);
        Console.WriteLine(Building.Address);
        //base.OnInitialized();
        Console.WriteLine(Building.ParkingNum);
    }

    private void changetest(ChangeEventArgs e)
    {
        Console.WriteLine(e.Value);
    }


    private async void OnUploadImage(List<ImageFile> images)
    {
        List<byte[]> temp = new List<byte[]>();
        List<string> names = new List<string>();
        
        foreach (var image in images)
        {
            Building.Image = image.Image;
            Building.ImageName = image.Name;
            ImageUrl.Add(image.ImageUrl);
        }
        StateHasChanged();
    }
}
