@using FamTec.Client.Pages.Admin.Place.PlaceMain.Components
@using FamTec.Client.Pages.Normal.Location.LocationMain.Components
@using FamTec.Shared.Client.Class
@using FamTec.Shared.Client.DTO
@using FamTec.Client.Pages.CommonComponents
@inherits PermissionComponentBase

<div class="form-container">
    <div class="form-title">
        <span class="title">관리자 정보</span>
    </div>
    <div class="content">
        <div class="img-area">
            @* <PreviewBox ImageUrls="@ImageUrl" /> *@
            <ImageSlider Label="프로필 이미지" Images="@ImageUrl" />
            <div class="img-btn">
                <InputImages MaxFilesNum="1" OnChange="OnUploadImage" />
                @if (NewManager.Image != null)
                {
                    <Button Name="삭제" Width=true Type="1" OnClick="OnDelImg" />
                }
            </div>
        </div>
        <div class="form-input">
            <ValidationInput
                Label="아이디"
                Placeholder="아이디"
                ValueType="text"
                @bind-Value=@NewManager.UserId
                Required="true"
                Type="USERID"
                isAdmin="true"
                ReturnSuccess="ReturnSuccess"
                />
            <ValidationInput Label="비밀번호"
                             Placeholder="비밀번호"
                             ValueType="password"
                             Required="true"
                             @bind-Value=@NewManager.Password
                             
                             Type="PW" 
                             ReturnSuccess="ReturnSuccess" />
            @* ValidChanged="@(isValid => UpdateValidState("Password", isValid))" *@
            <ValidationInput Label="비밀번호 확인"
                             Placeholder="비밀번호 확인"
                             ValueType="password"
                             PasswordCheck="@NewManager.Password"
                             
                             ReturnSuccess="ReturnSuccess"
                             Type="PWCHECK" />
            @* ValidChanged="@(isValid => UpdateValidState("PasswordCheck", isValid))" *@
            <ValidationInput Label="이름"
                             Placeholder="이름"
                             ValueType="text"
                             @bind-Value=@NewManager.Name
                             />
            <ValidationInput Label="전화번호"
                             Placeholder="전화번호 ( - 제외)"
                             ValueType="number"
                             @bind-Value=@NewManager.Phone
                             Type="Phone" />


            <ValidationInput Label="이메일"
                             Placeholder="이메일"
                             ValueType="text"
                             @bind-Value=@NewManager.Email
                             Required="true"
                             
                             ReturnSuccess="ReturnSuccess"
                             Type="EMAIL" />
            @* ValidChanged="@(isValid => UpdateValidState("Email", isValid))" *@
            <SelectField
                Label="그룹"
                SelectData="DepartmentList"
                @bind-Value=@NewManager.DepartmentId
                EditMode=true
                Required="true"
                />
                <TextField2
                    Label="계정유형"
                    Value="@job"
                    Color=true
                    />

        </div>
    </div>
   
    
</div>

@code {
    [Parameter] public AddManagerDTO NewManager { get; set; }
    [Parameter] public List<DepartmentDTO> DepartmentList { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public string? ManagerType { get; set; }
    [Parameter] public bool? Valid { get; set; }
    [Parameter] public EventCallback<bool> ValidChanged { get; set; }
    [Parameter] public EventCallback<(int, int)> ReturnSuccess { get; set; }
    //아이디 패스워드 이메일 유효형식 파라미터


    private byte[] imageData;
    private string job;

    // private List<string> ImageUrl = new List<string>();
    private List<byte[]> ImageUrl = new List<byte[]>();
    private Dictionary<string, bool> validationStates = new Dictionary<string, bool>();


    private void HandleSelectedValueChange(int value)
    {
        NewManager.DepartmentId = value;

    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        job = ADMINJOB switch
        {
            "SystemManager" => "마스터",
            "Master" => "매니저",
            _ => "없음"
        };

        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {

        StateHasChanged();
    }


    // private async Task LoadImage(InputFileChangeEventArgs e)
    // {
    //     var allowedExtensions = new[] { ".png", ".jpg", ".jpeg", ".gif" };

    //     // 파일 확장자 추출
    //     var extension = Path.GetExtension(e.File.Name).ToLowerInvariant();

    //     // 확장자 검사
    //     if (!allowedExtensions.Contains(extension))
    //     {
    //         await JS.InvokeVoidAsync("alert", "허용되지 않은 파일 형식입니다. PNG, JPG, JPEG, GIF 파일만 업로드 가능합니다.");
    //         return;
    //     }


    //     var buffer = new byte[e.File.Size];
    //     await using var stream = e.File.OpenReadStream(maxAllowedSize: 1024 * 1024 * 10);
    //     await stream.ReadAsync(buffer);
    //     imageData = buffer;
    //     NewManager.Image = buffer;
    //     NewManager.ImageName = e.File.Name;
    // }

    private async void OnUploadImage(List<ImageFile> images)
    {
        ImageUrl.Clear();
        List<byte[]> temp = new List<byte[]>();
        List<string> names = new List<string>();

        foreach (var image in images)
        {
            temp.Add(image.Image);
            names.Add(image.Name);
        }

        NewManager.Image = temp[0];
        NewManager.ImageName = names[0];

        ImageUrl.Add(temp[0]);
        StateHasChanged();
    }

    private async Task UpdateValidState(string field, bool isValid)
    {
        validationStates[field] = isValid;
        bool overallValid = validationStates.All(v => v.Value);
        if (Valid != overallValid)
        {
            Valid = overallValid;
            await ValidChanged.InvokeAsync(overallValid);
        }
    }

    private async Task OnDelImg()
    {
        if (NewManager.Image == null || string.IsNullOrEmpty(NewManager.ImageName) || ImageUrl.Count == 0)
        {
            await JS.InvokeVoidAsync("alert", "삭제할 이미지가 존재하지 않습니다.");
            return;
        }
        NewManager.Image = null;
        NewManager.ImageName = null;
        ImageUrl.Clear();
    }
    
}
