@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO


<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    사업장명
                </span>
            </th>
            <th class="th">
                <span>
                    비고
                </span>
            </th>
            <th class="th">
                <span>
                    계약번호
                </span>
            </th>
            <th class="th">
                <span>
                    계약일자
                </span>
            </th>
            <th class="th">
                
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @if(ListData == null)
        {
             <tr>
                <td colspan="100" style="text-align:center;">
                    <Loading />
                </td>
            </tr>
        }
        else if (ListData.Count == 0)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
             @foreach(var row in ListData)
            {
                <tr class="tbody-tr" @onclick=@(()=>onCheckItem(row))>
                    <td class="td pointer">
                        @row.Name
                    </td>
                    <td class="td pointer">
                        @row.Note
                    </td>
                    <td class="td pointer">
                        @row.ContractNum
                    </td>
                    <td class="td pointer">
                        @row.ContractDt
                    </td>
                    <td class="td pointer">
                        <input type="checkbox" 
                            checked="@CheckItems.Any(p => p.Id == row.Id)"/>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Parameter] public List<PlaceTableDTO> ListData { get; set; }
    [Parameter] public EventCallback<PlaceTableDTO> OnCheck { get; set; }
    [Parameter] public List<PlaceTableDTO> CheckItems { get; set; }

    List<PlaceTableDTO> CheckedData = new List<PlaceTableDTO>();


    private bool IsChecked(PlaceTableDTO place)
    {
        // CheckedData 리스트에서 현재 행에 해당하는 place가 있는지 확인
        return CheckedData != null && CheckedData.Any(x => x.Id== place.Id);
    }


    private async void onCheckItem(PlaceTableDTO place)
    {


        await OnCheck.InvokeAsync(place);
    }
}
