@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Place



<div class="placeform-container">
    <div class="placeform-title">
        <span class="title">
            사업장 정보
        </span>
    </div>
    <div class="placeform-info">
        <InputField Label="사업장 코드" 
            @bind-Value="@placeInfo.PlaceCd" 
            EditMode=@EditMode />
        <InputField Label="사업장명" 
            @bind-Value="@placeInfo.Name" 
            EditMode=@EditMode />
        <InputField Label="전화번호" 
            @bind-Value="@placeInfo.Tel" 
            EditMode=@EditMode />
        <InputField Label="계약번호" 
            @bind-Value="@placeInfo.ContractNum" 
            EditMode=@EditMode />
        @* <InputField Label="계약일자" 
            InputType="date" 
            Value="@placeInfo.ContractDt?.ToString("yyyy-MM-dd")" 
            EditMode=@EditMode />
        <InputField Label="해약일자" 
            InputType="date" 
            Value="@placeInfo.CancelDt?.ToString("yyyy-MM-dd")" 
            EditMode=@EditMode /> *@
        <DateTimeInput 
            Label="계약일자"
            DateValue=@placeInfo.ContractDt
            DateValueChanged="@OnContractDtChanged"
            Disabled="@(!EditMode)"
            />
        <DateTimeInput Label="해약일자"
            DateValue=@placeInfo.CancelDt
            DateValueChanged="@OnCancelDtChanged"
            Disabled="@(!EditMode)" />
        @* <InputField Label="계약상태" Value="@placeInfo.Status"/> *@
        <InputField Label="비고" 
            @bind-Value="@placeInfo.Note"
            EditMode=@EditMode
        />
    </div>
</div>

@code {
    [Parameter] public PlaceInfo placeInfo { get; set; }
    [Parameter] public bool EditMode { get; set; }
    DateTime? a = DateTime.Now;
    private void OnContractDtChanged(DateTime? newDate)
    {
        placeInfo.ContractDt = newDate;
    }
    private void OnCancelDtChanged(DateTime? newDate)
    {
        placeInfo.CancelDt = newDate;
    }
}
