@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Server.DTO.Place

<div class="placetoggle-container">
    <div class="placetoggle-title">
        <span>
            사업장 권한
        </span>
    </div>
    <div class="placetoggle-toggle">
        <Toggle 
            Title="기계설비 권한" 
            IsChecked="@placePerm.PermMachine"
            EditMode=@EditMode
            />
        <Toggle 
            Title="승강설비 권한" 
            IsChecked="@placePerm.PermLift"
            EditMode=@EditMode
            />
        <Toggle 
            Title="소방설비 권한" 
            IsChecked="@placePerm.PermFire" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="건축설비 권한" 
            IsChecked="@placePerm.PermConstruct" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="통신설비 권한" 
            IsChecked="@placePerm.PermNetwork" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="미화설비 권한" 
            IsChecked="@placePerm.PermBeauty" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="보안설비 권한" 
            IsChecked="@placePerm.PermSecurity" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="자재 권한" 
            IsChecked="@placePerm.PermMaterial" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="에너지 권한" 
            IsChecked="@placePerm.PermEnergy" 
            EditMode=@EditMode
            />
        <Toggle 
            Title="민원관리 권한" 
            IsChecked="@placePerm.PermVoc" 
            EditMode=@EditMode
            />
    </div>
</div>

@code {
    [Parameter] public PlacePerm? placePerm{ get; set; }
    [Parameter] public bool EditMode { get; set; }
}
