@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Voc.Components
@using FamTec.Client.Pages.Normal.Voc.VocDetail.Modal
@using FamTec.Client.Shared.Provider
@using FamTec.Shared.Client.DTO.Normal.Voc

<div class="processcard ">
    <div class="header">
        <div class="writer-wrap">
            <span class="writer">
                @Data.CreateUser
            </span>
            <span class="date">
                @Data.CreateDT
            </span>
        </div>
         <div class="options">
            <StatusCard Status="@Data.Status.ToString()" />
            @if (userIdx == Data.CreateUserId)
            {
                <SmallButton Name="수정" Width=true Type="0" OnClick="()=>OnEdit(Data.Id.Value)" />
            }
         </div>
        
    </div>
    <div class="content">
        <div class="content-text">
            <TextField Label="처리 일시" Context="@Data.CreateDT" />
            <TextField Label="처리 내용" Context="@Data.Comment" Type="textarea"/>
        </div>
        @if(images.Count != 0)
        {
            <ImageSlider Images="@images" Label="첨부 이미지" />
        }
    </div>
</div>
@if (edit)
{
    <ModalBackground>
        <ChildComponent>
            <UpdateModal Id="@editCommentId" OnClose="OnEditClose" OnLoad=OnLoad />
        </ChildComponent>
    </ModalBackground>
}

@code {
    [Parameter] public VocCommentListDTO Data{ get; set; }
    [Parameter] public string Status { get; set; }
    [Parameter] public string Writer { get; set; } = "홍길동";
    [Parameter] public EventCallback OnLoad { get; set; }

    List<byte[]> images = new List<byte[]>();
    List<int> nullIndex = new List<int>();
    int userIdx;

    bool edit = false;
    int editCommentId;

    protected async override Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        userIdx = await (_authStateProvider as CustomAuthProvider).GetUserId();
        await OnIMGConvert();



    }

    private async Task OnIMGConvert()
    {
        images = new List<byte[]>();
        foreach (var data in Data.Images.Select((value, idx) => (value, idx)))
        {
            if (data.value == null)
            {
                nullIndex.Add(data.idx);
                return;
            }
            images.Add(data.value);
        }
        
        StateHasChanged();
    }


    private async void OnEdit(int id)
    {
        edit = true;
        editCommentId = id;
    }

    private async void OnEditClose()
    {
        edit = false ;
    }
}
