
<div class="inputfield-container">
    <div class="inputfield-row">
        <label class="inputfield-label">
            @Label
        </label>
        <input class="inputfield-input @EditCss"
               type="@InputType"
               @bind-value="@Value"
               placeholder="@Placeholder"
               @oninput="onChangeText"
               @onblur="OnBlur"
               disabled="@(!EditMode)" />
        @if (Duplication)
        {
            <button class="btn" type="button" @onclick="OnClick" value="@Value">
                중복확인
            </button>
        }
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string InputType{ get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public string Placeholder { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public bool Duplication { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public EventCallback OnBlur{ get; set; }
    [Parameter] public EventCallback OnClick{get;set;}

    private string EditCss => EditMode ? null : "block";

    private async Task onChangeText(ChangeEventArgs e)
    {
        Value = e?.Value?.ToString();

        await ValueChanged.InvokeAsync(Value);
    }

}
