@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Voc.Components
@using FamTec.Shared.Client.DTO.Normal.Voc

@inject NavigationManager NavigationManager

<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    위치
                </span>
            </th>
            <th class="th">
                <span>
                    구분
                </span>
            </th>
            <th class="th">
                <span>
                    제목
                </span>
            </th>
            <th class="th">
                <span>
                    발생일시
                </span>
            </th>
            <th class="th">
                <span>
                    처리일시
                </span>
            </th>

            <th class="th">
                <span>
                    민원처리시간
                </span>
            </th>
            <th class="th">
                <span>
                    상태
                </span>
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        
        @if (ListData == null || ListData.Count ==0)
        {
            <tr>
                <td colspan="7" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
            @foreach(var row in ListData)
            {
                @* var sid = typeof(T).GetProperty("Id")?.GetValue(row)?.ToString();
                int id = int.Parse(sid);
 *@
                TimeSpan timespan = new TimeSpan();
                Console.WriteLine(timespan);
                if (!string.IsNullOrEmpty(row.DurationDT))
                {
                    timespan = TimeSpan.Parse(row.DurationDT);
                }
                
            
                <tr class="tbody-tr" @onclick="() => OnDeatail(row.Id)">
                    <td class="td pointer">
                        @row.BuildingName
                    </td>
                    <td class="td pointer">
                        @OnConvertType(row.Type)
                    </td>
                    @* <td class="td">
                        @typeof(T).GetProperty("Writer")?.GetValue(row)?.ToString()
                    </td> *@
                    <td class="td pointer">
                        @row.Title
                    </td>
                    <td class="td pointer">
                        @row.CreateDT
                    </td>
                    <td class="td pointer">
                        @row.CompleteDT
                    </td>
                    <td class="td pointer">
                        @if (!string.IsNullOrEmpty(row.DurationDT))
                        {
                            @if (timespan.Days > 0)
                            {
                                @($"{timespan.Days} 일")

                            }
                            @($"{timespan.Hours}시간 {timespan.Minutes}분 {timespan.Seconds}초")
                        }
                        
                    </td>
                    <td class="td pointer">
                        <StatusCard Status=@row.Status.ToString() />
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@code {
    [Parameter] public List<ListVocDTO> ListData { get; set; }

    private string _type;

    private string OnConvertType(int? type)
    {
        return type switch
        {
            0 => "미분류",
            1 => "기계",
            2 => "전기",
            3 => "승강",
            4 => "소방",
            5 => "건물",
            6 => "통신",
            7 => "미화",
            8 => "보안",
        };
    }


    private void OnDeatail(int? Id)
    {
        NavigationManager.NavigateTo($"/voc/{Id}");
    }
}
