@using FamTec.Client.Pages.Admin.Place.PlaceMain.Components
@using FamTec.Shared.Client.DTO.Normal.Users
@using FamTec.Client.Pages.CommonComponents


<div class="form-container">
    <div class="form-title">
        <span class="title">사용자 정보</span>
    </div>
    <div class="form-input">
        <InputField 
            InputType="text" 
            Placeholder="Id"
            @bind-Value="@User.UserId"
            Label="아이디"
            EditMode=EditMode
            Duplication=true
            />
        <InputField 
            InputType="password" 
            Placeholder="Password"
            @bind-Value="@User.Password"
            Label="비밀번호"
            EditMode=EditMode
            />
        <InputField 
            InputType="password" 
            Placeholder="Password Check"
            Label="비밀번호 확인"
            EditMode=EditMode
            />
        <InputField 
            InputType="text" 
            Placeholder="Name"
            @bind-Value="@User.Name"
            Label="이름"
            EditMode=EditMode
            />
        <InputField 
            InputType="text" 
            Placeholder="Phone"
            @bind-Value="@User.Phone"
            Label="전화번호"
            EditMode=EditMode
            />
        <InputField 
            InputType="text" 
            Placeholder="Email"
            @bind-Value="@User.Email"
            Label="이메일"
            EditMode=EditMode
            />
        <InputField 
            InputType="text"
            Placeholder="Type"
            @bind-Value="@User.Job"
            Label="계정 유형" 
            EditMode=EditMode
            />
        <InputField 
            InputType="text"
            Placeholder="Type"
            @bind-Value="@User.Status"
            Label="계정 유형" 
            EditMode=EditMode
            />
        <Toggle 
            Title="알람 수신"
            @bind-Value="@User.AlarmYN"
            />
    </div>
    
</div>

@code {
    [Parameter] public UserInfoDTO User { get; set; }
    [Parameter] public bool EditMode { get; set; }


}
