@typeparam T
@using System.Globalization

<<<<<<< HEAD
<style>
 
</style>

=======
>>>>>>> origin/Front
<RadzenCard Style="grid-column:span 5">
    <RadzenColumn Style="height:100%;">
        <h4>@Title</h4>
        <RadzenChart >
            <RadzenChartTooltipOptions Shared="@sharedTooltip" />
            <RadzenValueAxis FormatString="{0:0.0}" />
            <RadzenLegend Position="LegendPosition.Bottom"/>
            @foreach (KeyValuePair<string, string> i in PropertyTrans)
            {
<<<<<<< HEAD
                <RadzenLineSeries Smooth="@smooth" Data="@Data" CategoryProperty="Date" Title="@i.Value" ValueProperty="@i.Key">
                    <RadzenMarkers Visible="@showMarkers" MarkerType="MarkerType.Circle"/>
=======
                <RadzenLineSeries Smooth="@smooth" Data="@Data" CategoryProperty="Date" Title="@i.Value" ValueProperty="@i.Key" >
                    <RadzenMarkers Visible="@showMarkers" MarkerType="MarkerType.Square" />
>>>>>>> origin/Front
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                </RadzenLineSeries>
            }
            <RadzenCategoryAxis Padding="20" />
        </RadzenChart>
    </RadzenColumn>
</RadzenCard>


@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public List<T> Data { get; set; }
    [Parameter] public List<string> PropertyName { get; set; }
    [Parameter] public Dictionary<string, string> PropertyTrans { get; set; }


    bool smooth = true;
    bool sharedTooltip = true;
    bool showDataLabels = false;
    bool showMarkers = true;

}