@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Facility.Maintenance.AddMaintence.Modal
@using FamTec.Shared.Client.DTO.Normal.Material.InOut


<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    품목코드
                </span>
            </th>
            <th class="th">
                <span>
                    품목명
                </span>
            </th>
            <th class="th">
                <span>
                    위치
                </span>
            </th>
            <th class="th">
                <span>
                    단위
                </span>
            </th>
            <th class="th">
                <span>
                    수량
                </span>
            </th>
            <th class="th">
                <span>
                    금액
                </span>
            </th>
            <th class="th">
                <span>
                    비고
                </span>
            </th>
            <th class="th">
                <span>

                </span>
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @if(ListData?.Count == 0)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
            @foreach (InOutInventoryDTO row in ListData)
            {
                <tr class="tr">
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.MaterialCode
                    </td>
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.MaterialName
                    </td>
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.AddStore.RoomName
                    </td>
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.Unit
                    </td>
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.AddStore.Num
                    </td>
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.AddStore.TotalPrice
                    </td>
                    <td class="td pointer" @onclick="() => OnRowClick(row)">
                        @row.AddStore.Note
                    </td>
                    <td class="td pointer">
                        <input 
                            class="pointer"
                            type="checkbox" 
                            checked=@(CheckItem.Any(i=>i.MaterialID == row.MaterialID))
                            @onchange="(e)=>OnChecked(e,row)" />
                    </td>
                </tr>
            }
        }
        

    </tbody>
</table>
@if (showUpdateModal)
{
    <ModalBackground>
        <ChildComponent>
            <UpdateUseMaterialModal 
                UseMaterialId="@selectUseMaterialId" 
                OnCancel="CloseModal" 
                CurMaterialNum="@selectUseMaterialCurNum"
                UseMaterial="@selectedMaterial"
                />
        </ChildComponent>
    </ModalBackground>
}
@code {
    [Parameter] public List<InOutInventoryDTO>? ListData { get; set; }
    [Parameter] public EventCallback<(bool, InOutInventoryDTO)> OnCheck { get; set; }
    [Parameter] public List<InOutInventoryDTO> CheckItem{ get; set; }

    private bool showUpdateModal = false;

    private InOutInventoryDTO selectedMaterial;
    private int selectUseMaterialId;
    private int selectUseMaterialCurNum;


    private async void OnChecked(ChangeEventArgs e, InOutInventoryDTO material)
    {
        await OnCheck.InvokeAsync(((bool)e.Value, material));
    }

    private void OnRowClick(InOutInventoryDTO material)
    {
        showUpdateModal = true;
        selectedMaterial = material;
        selectUseMaterialId = material.MaterialID.Value;
        selectUseMaterialCurNum = material.AddStore.Num;
        
    }

    private void CloseModal()
    {
        showUpdateModal = false;
        selectedMaterial = null;
    }
}
