@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Material.Material.Main.Modal
@using FamTec.Shared.Client.DTO.Normal.Material
@inherits PermissionComponentBase

<table class="table">
    <thead class="thead">
        <tr class="th-tr">
            <th class="th">
                <span>
                    품목코드
                </span>
            </th>
            <th class="th">
                <span>
                    품목명
                </span>
            </th>
            <th class="th">
                <span>
                    규격
                </span>
            </th>
            <th class="th">
                <span>
                    제조사
                </span>
            </th>
            <th class="th">
                <span>
                    단위
                </span>
            </th>
            <th class="th">
                <span>
                    안전재고
                </span>
            </th>
            @if (MATERIAL)
            {
                <th class="th">
                    <span>
                    </span>
                </th>
            }
            
        </tr>
    </thead>
    <tbody class="tbody">
        @if (ListData == null)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Loading />
                </td>
            </tr>
        }
        else if (ListData.Count == 0)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
            foreach(var row in ListData)
            {
                <tr class="tbody-tr">
                    <td class="td pointer" @onclick="()=>OnUpdateModal(row.ID)">
                        @row.Code
                    </td>
                    <td class="td pointer" @onclick="()=>OnUpdateModal(row.ID)">
                        @row.Name
                    </td>
                    <td class="td pointer" @onclick="()=>OnUpdateModal(row.ID)">
                        @row.Standard
                    </td>
                    <td class="td pointer" @onclick="()=>OnUpdateModal(row.ID)">
                        @row.ManufacturingComp
                    </td>
                    <td class="td pointer" @onclick="()=>OnUpdateModal(row.ID)">
                        @row.Unit
                    </td>
                    <td class="td pointer" @onclick="()=>OnUpdateModal(row.ID)">
                        @row.SafeNum
                    </td>
                    @if (MATERIAL)
                    {
                        <td class="td">
                            <input class="pointer"
                                type="checkbox"
                                   checked=@(_checkItem.Contains(row.ID))
                                   @onchange="(e)=>OnChecked(e,row)" />
                        </td>
                    }
                    
                </tr>
            }
        }

    </tbody>
</table>
@if(MATERIAL && _updateModal && materialId != 0)
{
    <ModalBackground>
        <ChildComponent>
            <UpdateMaterial
                MaterialId="@materialId"
                OnClose="@OnCancleUpdateModal"
                OnLoadMaterial=OnLoadMaterial
                />
        </ChildComponent>
    </ModalBackground>
}

@code {
    [Parameter] public List<MaterialListDTO>? ListData { get; set; }
    [Parameter] public EventCallback<(bool, MaterialListDTO)> OnCheck { get; set; }
    [Parameter] public EventCallback OnLoadMaterial { get; set; }

    private HashSet<int> _checkItem = new HashSet<int>();


    private bool _updateModal = false;
    private int materialId;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
    }

    private async void OnChecked(ChangeEventArgs e, MaterialListDTO material)
    {
        await OnCheck.InvokeAsync(((bool)e.Value, material));
        if ((bool)e.Value)
        {
            _checkItem.Add(material.ID);
        }
        else
        {
            _checkItem.Remove(material.ID);
        }
    }

    private void OnUpdateModal(int materialid)
    {
        _updateModal = true;
        materialId = materialid;
    }

    private void OnCancleUpdateModal()
    {
        _updateModal = false;
    }
}
