<div class="textfield @(Row ? "row":"")">
    <label class="label">
        @Label
    </label>
    <p class="text @(Color? "color":"") @(!string.IsNullOrEmpty(Padding) ? @Padding : "") ">
        @* @(Value ?? "&nbsp;") *@
        @((MarkupString)(string.IsNullOrWhiteSpace(Value) ? "&nbsp;" : Value))
    </p>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public bool Color { get; set; }
    [Parameter] public bool Row { get; set; }
    [Parameter] public string? Padding { get; set; }

}
