@using System.Text.RegularExpressions
@using FamTec.Shared.Server.DTO

<div class="valid-input @(Row==true?"row":"")">
    @if (!String.IsNullOrEmpty(Label))
    {
        <label class="label @(Required.Value ? "required" : "")">
            @Label
        </label>
    }
    <div class="inputs">
        <input class="input"
               type="@ValueType"
               placeholder="@Placeholder"
               value="@Value"
               @oninput=@(e =>OnInputChange(e)) />
        @if(Type == "USERID")
        {
            <Button Name="중복검사" Width=true Type="0" OnClick="OnDuplicateCheck" />
        }

    </div>
    @if (Type =="USERID")
    {
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=@(idValide ? "green" : "gray") class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            @* <span class="text @(idValide ? "true":"")"> *@
            <span class="text">
                4자 이상 30자 이하(영어/숫자, 공백 제외)
            </span>
        </div>
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=@(idDuplication ? "green" : "gray") class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <span class="text">
                중복 검사
            </span>
            @if (block)
            {
                <span class="text block">
                    | 사용중인 아이디 입니다.
                </span>
            }

        </div>
    }

    @if(Type == "PW")
    {
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=@(pw1 ? "green" : "gray") class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <span class="text">
                8자 이상 입력(공백 제외)
            </span>
        </div>
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=@(pw2 ? "green" : "gray") class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <span class="text">
                영문/숫자/특수문자 모두 포함
            </span>
        </div>
    }
    @if(Type == "PWCHECK")
    {
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=@(pw_check ? "green" : "gray") class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <span class="text">
                비밀번호 일치
            </span>
        </div>
    }
    @if (Type == "EMAIL")
    {
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill=@(emailValid ? "green" : "gray") class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <span class="text">
                유효한 이메일 형식
            </span>
        </div>
    }
</div>

@code {
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Placeholder { get; set; }
    [Parameter] public string? PasswordCheck { get; set; } //비밀번호값
    [Parameter] public string? Type { get; set; }
    [Parameter] public bool? Required { get; set; } = false;
    [Parameter] public string? Value {get;set;}
    [Parameter] public bool? Row{ get; set; }
    [Parameter] public string? ValueType { get; set; } //아이디 비번 이메일 구분
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public EventCallback<bool> ValidChanged { get; set; }
    [Parameter] public EventCallback<(int,int)> ReturnSuccess { get; set; }
    [Parameter] public bool? isAdmin { get; set; } = false;
    bool idValide = false;
    bool idDuplication = false;
    bool pw1 = false;
    bool pw2 = false;
    bool pw_check = false;
    bool emailValid = false;


    bool block = false;
    protected override async Task OnInitializedAsync()
    {
        ValidateInput(Value);
        bool isValid = DetermineValidity();
        await ValidChanged.InvokeAsync(isValid);
    }

    private async Task OnInputChange(ChangeEventArgs e)
    {
        idDuplication = false;
        Value = e.Value?.ToString();
        ValidateInput(Value);
        await ValueChanged.InvokeAsync(Value);

        //rjawmd
        bool isValid = DetermineValidity();
        await ValidChanged.InvokeAsync(isValid);

    }


    private async void ValidateInput(string? value)
    {
        switch (Type)
        {
            case "USERID":
                idValide = Regex.IsMatch(value ?? "", @"^[A-Za-z0-9]{4,30}$");
                await ReturnSuccess.InvokeAsync((idValide ? 1 : 0, 0));
                break;
            case "PW":
                pw1 = !string.IsNullOrWhiteSpace(value) && value.Length >= 8;
                pw2 = Regex.IsMatch(value ?? "", @"^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]");
                await ReturnSuccess.InvokeAsync((pw1 && pw2 ? 1 : 0, 1));
                break;
            case "PWCHECK":
                pw1 = !string.IsNullOrWhiteSpace(PasswordCheck) && PasswordCheck.Length >= 8;
                pw2 = Regex.IsMatch(PasswordCheck ?? "", @"^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]");
                pw_check = pw1 && pw2 && !String.IsNullOrEmpty(value) && value == PasswordCheck;
                await ReturnSuccess.InvokeAsync((pw1 && pw2 && pw_check ? 1 : 0,2));
                break;
            case "EMAIL":
                emailValid = Regex.IsMatch(value ?? "", @"^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$");
                await ReturnSuccess.InvokeAsync((emailValid ? 1 : 0,3));
                break;
        }
    }

    private bool DetermineValidity()
    {
        switch (Type)
        {
            case "USERID":
                return idValide;
            case "PW":
                return pw1 && pw2;
            case "PWCHECK":
                return pw_check;
            case "EMAIL":
                return emailValid;
            default:
                return !string.IsNullOrWhiteSpace(Value);
        }
    }

    private async Task OnDuplicateCheck()
    {
        try
        {
            if (String.IsNullOrEmpty(Value))
            {
                await JS.InvokeVoidAsync("alert", "아이디가 공백입니다.");
                return;
            }

            ResponseUnit<bool> resGet = await apiManager.GetUnitAsync<bool>(isAdmin.Value ? $"Admin/sign/UserIdCheck?userid={Value}" : $"User/sign/UserIdCheck?userid={Value}");
            if(resGet.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resGet.message);
                return;
            }
            if (!resGet.data)
            {
                block = true;
                return;
            }
            block = false;
            await ReturnSuccess.InvokeAsync((resGet.data ? 1 : 0,4));
            idDuplication = resGet.data;
        }catch(Exception ex)
        {
            Console.WriteLine(ex);
            await JS.InvokeVoidAsync("alert", "아이디 중복검사 에러");
        }
    }
}

@*
    [type]
    UserId => 중복검사
    Password => 영문자, 숫자, 특수 문자, 8자리 이상
    email => @ / .com 정도

*@