@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Facility
@inherits PermissionComponentBase

<table class="table">
    <thead class="thead">
        <tr class="thead-rt">
            <th class="th">
                <span>
                    설비 명칭
                </span>
            </th>
            <th class="th">
                <span>
                    형식
                </span>
            </th>
            <th class="th">
                <span>
                    수량
                </span>
            </th>
            <th class="th">
                <span>
                    위치
                </span>
            </th>
            <th class="th">
                <span>
                    규격 용량
                </span>
            </th>
            <th class="th">
                <span>
                    설치 년월
                </span>
            </th>
            <th class="th">
                <span>
                    내용 년수
                </span>
            </th>
            <th class="th">
                <span>
                    교체 년월
                </span>
            </th>
            <th class="th">
                <span>
                    QR
                </span>
            </th>
            <th class="th">
                <span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @if(ListData == null)
        {
            <tr>
                <td colspan="100" style="text-align:center">
                    <Loading/>
                </td>
            </tr>
        }
        else if(ListData.Count == 0)
        {
            <tr>
                <td colspan="100" style="text-align:center">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
            @foreach (var row in ListData)
            {
                <tr class="tbody-tr">
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.Name
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)" >
                        @row.Type
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.Num
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.Location
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.StandardCapacity
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.EquipDT.ToString()
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.LifeSpan
                    </td>
                    <td class="td" @onclick="()=>OnDetail(row.Id)">
                        @row.ChangeDT.ToString()
                    </td>
                    <td class="td">
                        <QR 
                        BaseUrl="facility"
                        BtnName="QR"
                        Type="facility"
                        DetailType="@FacType" 
                        PlaceId="@PLACEIDX.Value"
                        Id="@row.Id"
                        />
                    </td>
                    @if (USEREDIT)
                    {
                        <td class="td">
                            <input type="checkbox" />
                        </td>
                    }
                    
                </tr>
            }
        }
       
    </tbody>
</table>

@code {
    [Parameter] public List<FacilityListDTO?> ListData { get; set; }
    [Parameter] public string FacType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        Console.WriteLine("현재 사업장아이디 : "+PLACEIDX);
    }

    private void OnDetail(int Id)
    {
        Navigation.NavigateTo($"/facility/{FacType}/{Id}");

    }
}
