@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Facility
@using FamTec.Shared.Client.DTO.Normal.Facility.Maintenance


<table class="table">
    <thead class="thead">
        <tr class="th-tr">
            <th class="th" >
                <span>
                    작업 일자
                </span>
            </th>
            <th class="th">
                <span>
                    수리 및 보수 이력
                </span>
            </th>
            <th class="th">
                <span>
                    작업 구분
                </span>
            </th>
            <th class="th">
                <span>
                    작업자
                </span>
            </th>
            <th class="th">
                <span>
                    소요비용
                </span>
            </th>
            <th class="th">
                <span>

                </span>
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @if (ListData.Count == 0 || ListData is null)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Empty />
                </td>
            </tr>
        }
        else
        {
            foreach(var row in ListData)
            {
                <tr class="tr">
                    <td class="td">
                        @row.CreateDT
                    </td>
                    <td class="td">
                        @row.Name
                    </td>
                    <td class="td">
                        @row.Type
                    </td>
                    <td class="td">
                        @row.Type
                    </td>
                    <td class="td">
                        @row.TotalPrice
                    </td>
                    <td class="td">
                        <input type="checkbox" />
                    </td>

                </tr>
            }
        }

        
    </tbody>
</table>

@code {
    [Parameter] public List<MaintenanceListDTO> ListData { get; set; }
}
